<!doctype html>
<html>
  <head>
    <title>Real Time Feedback</title>
  </head>
  <body>
    <div id="status-message"></div>

    <div id="poll-data">
      <h3>Create A New Poll</h3>

      <form action="/polls" method="post">
          <div>
              <label>Question:</label>
              <input type="text" name="question"/><br/>
          </div>
          <div>
              <label>Option A:</label>
              <input type="text" name="a"/>
          </div>
          <div>
              <label>Option B:</label>
              <input type="text" name="b"/>
          </div>
          <div>
              <label>Option C:</label>
              <input type="text" name="c"/>
          </div>
          <div><input id="create-poll" type="submit" value="Create Poll"/></div>
      </form>
      
    </div>

    <div id="connection-count"></div>

    <div id="poll-display"></div>

    <div id="instructions"></div>

    <div id="choices">
      <button id="button-1">A</button>
      <button id="button-2">B</button>
      <button id="button-3">C</button>
    </div>

    <div id="vote-count"></div>

    <button id="close-poll">Close Poll</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
